@import url('reset.css');
.container {
     background-color: bisque; margin: 0 auto; width: 1200; text-align: center; padding: 5%;
    }

    table, th, td {
    border-collapse: collapse;
    border: 3px solid rgb(164, 75, 75);
    }
    .container > h1 {
        padding: 1%;
    }
    .container > div > h2 {
        padding: 1%;
    }
    .container > div > div > h3 {
        padding: 1%;
    }
    .container > div > div > p {
        padding: 1%;
    }
    .container > div > div > img {
        padding: 1%;
    }
    ul {
            list-style: inside;
         }
    ol {
        list-style: inside;
        list-style-type: decimal;  
    }